::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb:hover {
  background: #595959;
}

html {
  font-family: "Karla", sans-serif;
  background-color: rgb(236, 230, 220);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#header {
  position: fixed;
  background-color: black;
  width: 100%; 
  height: 50px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
}

#header-img {
  height: 50px;
  width: auto;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 20%;
}

.nav-link {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.nav-link:hover {
  color: gray;
}

main {
  margin-top: 70px;
}

#bloctitrelogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
  margin-bottom: 150px;
}

#separation {
  border: 1px solid black;
  width: 50%;
  margin-bottom: 60px;
}

#bloctitre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Varela";
}

#logoaccueil {
  width: 200px;
  padding-right: 20px;
}

.titre {
  font-size: 6em;
  margin: 0;
}

.description {
  color: #696563;
  font-size: 2em;
  margin: 0;
  margin-left: 10px;
}

.atelierlien {
  color: black;
  font-weight: bold;
  transition: 0.3s;
}

.atelierlien:hover {
  color: #696563;
}

#travaux {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-bottom: 60px;
  padding-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
}

.travauximg {
  vertical-align: middle;
  width: 100%;
  margin-top: 8px;
}

.colomne {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

#apropos {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 60px;
}

.aproposbloc {
  width: 35%;
}

#video {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #696563;
  width: 100%;
  height: 100px;
  margin-top: 60px;
  padding: 20px;
}

#reseaux {
  padding-left: 20px;
  width: 50%;
  display: flex;
}

.socialmedia {
  height: 40px;
  margin-right: 20px;
}

#newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.labelemail {
  color: white;
  font-size: 1.2rem;
  display: block;
  text-align: right;
}

::placeholder {
  font-family: "Varela";
  text-align: center;
  font-size: 0.9em;
}

.btn {
  background-color: #696563; /* Green */
  border: 1px solid white;
  color: white;
  height: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 0.8rem;
  transition: 0.3s;
}

.btn:hover {
  background-color: rgb(156, 131, 124); /* Green */
  border: 1px solid white;
}

#email {
  height: 30px;
}

@media (max-width: 1024px) {
  .colomne {
    flex: 50%;
    max-width: 50%;
  }
  .description {
    font-size: 1.3rem;
  }
  #bloctitrelogo {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .colomne {
    flex: 50%;
    max-width: 50%;
  }
  .titre {
    font-size: 4rem;
  }
  .description {
    font-size: 1.5rem;
  }
  #bloctitrelogo {
    margin-top: 185px;
  }
}

@media (max-width: 500px) {
  .colomne {
    flex: 100%;
    max-width: 100%;
  }
  .titre {
    font-size: 3.7rem;
  }
  .description {
    font-size: 1.3rem;
  }
}
